.card {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.button {
    margin-top: 16px;
}

.label {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}

.userImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

;

.userInfo {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.userInfo div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .buttons {
        flex-direction: column;
    }

    .card {
        max-width: 300px;
    }
}

/* Edit Profile */

/* EditProfileForm.module.css */

.paper {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 8px;
    /* border: 1px solid red; */
    margin: 10px;
}

.profilePhoto {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePhoto img {
    width: 300px;
    border: 1px solid #f0f0f0;
}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 20px;
}

.imagePreview {
    width: calc(100% - 10px);
    border: 1px solid gray;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.media {
    width: 80px;
    height: 80px;
    object-fit: contain;
}